<!DOCTYPE html>
<html>
  <head>
   <div class="loop_css">
     <img class="anime_test" src="https://images.ciatr.jp/2017/07/w_828/ggnGeOfIZPRP8NtVmoHGApLd42ECjPbechYjZrHB.jpeg">
     <img class="anime_test" src="https://iwiz-movies.c.yimg.jp/im_siggJ7KLmXmNIlgIEOpm_oQAtQ---x680/c/movies/pict/p/p/58/c9/138864_01.jpg">
     <img class="anime_test" src="https://images-na.ssl-images-amazon.com/images/I/51X-Tktc9BL._AC_SY445_.jpg">
     <img class="anime_test" src="https://iwiz-movies.c.yimg.jp/c/movies/pict/p/p/c1/c4/170090_04.jpg">
     <img class="anime_test" src="https://eiga.k-img.com/images/movie/42262/photo/f4d1cc228758fef3.jpg?1469168679">
     <img class="anime_test" src="https://static.curazy.com/cinema/wp-content/uploads/sites/2/2018/01/16101742_51QNjfqXWL.jpg">
     <img class="anime_test" src="https://lh3.googleusercontent.com/proxy/MUKF9Ju58okVRim6hC_Qq_DFNXjiFpoFwve8yukxn3EKhuJvrgFPTzLFCfUd0TAcFu_ANWlUhm_LKtgrWWsOxDgH9U4wuF9Lgaj80LCbd4EhMvLlVms">
     <img class="anime_test" src="https://images-na.ssl-images-amazon.com/images/I/51zZPJ6MbfL._AC_.jpg">
     <img class="anime_test" src="https://iwiz-movies.c.yimg.jp/im_siggsWslUG294LCIM3OAcTNlvQ---x680/c/movies/pict/p/p/b0/bd/168108_02.jpg">
     <img class="anime_test" src="https://movieaddict-blog.org/wp-content/uploads/2019/06/41naMIjALL._SL250_.jpg">
   </div>
    <title>NOmovieNOLife</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">NOmovieNOLife</a></h1>
        <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <%= link_to  "投稿する", "/tweets/new", class: "post" %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

    <%= yield %>

    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>